{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}<div class="aa-collections-empty">
  <div class="aa-no-result">
    <ly-as-13489624>[[ translations.noCollectionFound ]]</ly-as-13489624>
  </div>
</div>
