<div class="ais-facet-conjunctive ais-facet-meta.specifications.prod_security_features">
    <div>
        <div class="ais-root ais-refinement-list ais-facet">
            <div class="ais-refinement-list--header ais-facet--header ais-header">
                Vesa pattern
            </div>
            <div class="ais-body ais-refinement-list--body ais-facet--body">
                <form id="vesaSearch" class="ais-price-ranges--form row" action="/search">
                    <label class="ais-price-ranges--label col-xs-5">
                        <input type="number" class="ais-price-ranges--input vesa-min-range--input">
                    </label>
                    <span class="ais-price-ranges--separator col-xs-2 text-center">-</span>
                    <label class="ais-price-ranges--label col-xs-5">
                        <input type="number" class="ais-price-ranges--input vesa-max-range--input">
                    </label>
                    <button form="vesaSearch" class="ais-price-ranges--button" type="submit">Apply &gt;</button>
                </form>
            </div>
        </div>
    </div>
</div>