{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
<label class="[[ cssClasses.label ]]">
  <ly-as-13489645>[[# type.disjunctive ]]</ly-as-13489645>
    <input type="checkbox" class="[[ cssClasses.checkbox ]]" [[# isRefined ]]checked[[/ isRefined ]]/>
  [[/ type.disjunctive ]]
  [[# helpers.formatFacetTitle ]]
  [[/ helpers.formatFacetTitle ]]
  <span class="[[ cssClasses.count ]]">
    [[# helpers.formatNumber ]]
      [[ count ]]
    [[/ helpers.formatNumber ]]
  </span>
</label>
