<div class="ais-facet-conjunctive ais-facet-named_tags.SKU">
    <div>
        <div class="ais-root ais-refinement-list ais-facet">
            <div class="ais-refinement-list--header ais-facet--header ais-header">
                Compatibility
            </div>
            <div class="ais-body ais-refinement-list--body ais-facet--body">
                <div class="ais-refinement-list--list">
                    <div class="compatibility-checkbox-wrapper ais-refinement-list--item ais-facet--item">
                        <div>
                            <label for="compatibilityFilterCheckbbox" class="ais-facet--label" title="Show mounts that require an adaptor">
                                <input type="checkbox" id="compatibilityFilterCheckbbox" />
                                Show mounts that require an adaptor
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>