{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}<div class="ais-hit-empty">
  <div class="ais-hit-empty--title"><ly-as-13489648>[[ translations.noResultFound ]]</ly-as-13489648></div>
  <div class="ais-hit-empty--clears">
    <ly-as-13489649>[[# helpers.try_clear_or_change_input ]]</ly-as-13489649>
      <a class="ais-hit-empty--clear-filters ais-link"> </a>
      <a class="ais-hit-empty--clear-input ais-link"> </a>
    <ly-as-13489650>[[/ helpers.try_clear_or_change_input ]]</ly-as-13489650>
  </div>
</div>
