{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}<div class="aa-footer">
  <ly-as-13489625>[[ translations.allProducts ]]</ly-as-13489625>
  <a class="aa-footer-link" href="/search?q=[[ query ]]">
    <ly-as-13489626>[[ translations.matching ]]</ly-as-13489626>
    <span class="aa-query">
      <ly-as-13489627>"[[ query ]]"</ly-as-13489627>
    </span>
  </a>
  (<span class="aa-nbhits"><ly-as-13489628>[[# helpers.formatNumber ]][[ nbHits ]][[/ helpers.formatNumber ]]</ly-as-13489628></span>)
</div>
