{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}<div class="aa-page">
  <div class="aa-picture" style="background-image: url('[[# helpers.iconImage ]][[/ helpers.iconImage ]]')"></div>
  <div class="aa-text">
    <span class="aa-title"><ly-as-13489629>[[& _highlightResult.title.value ]]</ly-as-13489629></span>
  </div>
</div>
