{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}<div class="aa-article">
  <div class="aa-text">
    <span class="aa-title"><ly-as-13489621>[[& _highlightResult.title.value ]]</ly-as-13489621></span>
  </div>
</div>
