{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}<div class="aa-products-empty">
  <p class="aa-no-result">
    <ly-as-13489634>[[# helpers.no_result_for ]] "[[ query ]]" [[/ helpers.no_result_for]]</ly-as-13489634>
  </p>

  <p class="aa-see-all">
    <a href="/search?q=">
      <ly-as-13489635>[[ translations.allProducts ]]</ly-as-13489635>
    </a>
  </p>
</div>
