{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
<ly-as-13489642>[[# label ]]</ly-as-13489642>
  <div class="ais-current-refined-values--label [[# helpers.hideCompatibility ]][[/ helpers.hideCompatibility ]]"><ly-as-13489643>[[ label ]]</ly-as-13489643></div>[[^ operator ]]:[[/ operator]]
[[/ label ]]

[[# operator ]]
  [[& displayOperator ]]
  [[# helpers.formatNumber ]][[ name ]][[/ helpers.formatNumber ]]
[[/ operator ]]
[[^ operator ]]
  [[# exclude ]]-[[/ exclude ]]
  [[# helpers.formatActiveFacetTitle ]]
  [[/ helpers.formatActiveFacetTitle ]]
[[/ operator ]]
