{% assign variant = product.selected_or_first_available_variant %}
{% assign variant_sku = variant.sku | downcase %}
{% assign allowed_skus = 'KIL747|ACC950|SUT670P|HP447|FPE55FH-EU-S|IM760P-S|IM760PU-S|MOD-PRSSKIT150|FPE42F-UK-S|FPE42FH-UK-S|FPE47F-EU-S|DST995|EPMU-08-S|FPE55F-EU-S|IM760P|MOD-FCS2KIT300|EPMU-05-S|IM746P|KIL742|EPMU-07-S|MOD-FPMS2|FPE47FH-EU-S|SR560M|SUT646P|EWMU|KIP555|EWMU-S|EPMU-06-S|HPF650|MOD-FPSKIT150|MOD-FPMD2|DST970X2|IM760PU|MOD-FCS2KIT300-B|PRGS-455|DS-VW765-LQR|DS-VWM770|MOD-FPSKIT100-B|FPECMC-01|MOD-PRSSKIT100|DSF290|MOD-FPSKIT150-B|FPE47F-UK-S|FPE55FH-UK-S|FPECMC-02|SR560G|HP455|KIP742|FPE42FH-EU-S|FPE47FH-UK-S|FPE55F-UK-S|FPE42F-EU-S|PSMU-PRSS' | downcase | split: '|' %}
<div class="monitor-check-form" data-sku="{{ variant_sku }}">
</div>