
  <div class="purchase-restict-regional">
    <div><ly-as-13490566>For more information on availability and pricing please contact our EMEA Sales Department by e-mail at: </ly-as-13490566></div>
    <a href="mailto:sales@peerless-av.eu.com" style="color: red"><ly-as-13490567>sales@peerless-av.eu.com</ly-as-13490567></a>
  </div>

