{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}<div class="row select-region-item">
  <div class="col-xs-6">
    {{ block.settings.region_title }}
  </div>
  <div class="col-xs-6">
    <a href="{{ block.settings.url }}">{{ block.settings.url_title }}</a>
  </div>
</div>