{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}<a class="jas-wc-help" id="tea-theme-update" style="display:none" href="#popup_basel"><ly-as-13491102>Set up version</ly-as-13491102></a>
<div class="basel-promo-popup tea-promo-popup mfp-hide" id="popup_basel">
	<div class="tabs">

       <div class="tab">
           <input type="radio" id="tab-1" name="tab-group-1" value="demo" checked>
           <label for="tab-1"><ly-as-13491103>Demo versions</ly-as-13491103></label>

           <div class="content">
           		<div class="imported-base">
	           		<div class="claue-success base-imported-alert">
							Now you can choose any version to apply its settings for your website or leave a default one.
							You are be able to switch to default version settings any time.
						</div>
						<div class="claue-box-footer">
							<p><strong><ly-as-13491105>WARNING</ly-as-13491105></strong><ly-as-13491106>: it may override all theme settings and reload the editor. You should backup your theme settings using Export tab before importing.</ly-as-13491106> </p>
						</div>
						<div class="claue-import">
							<div class="page-preview">
								<img src="//cdn.shopify.com/s/files/1/1933/6253/files/prev-main.jpg" alt="">
							</div>
							<div class="import-form-fields">
								<button class="btn btn-color-black btn-style-default btn-size-small import-btn" data-layout="Home1" ><ly-as-13491107>Set up home default</ly-as-13491107></button>
							</div>
						</div>
						<div class="claue-import">
							<div class="page-preview">
								<img src="//cdn.shopify.com/s/files/1/1933/6253/files/menu-lingerie.jpg" alt="">
							</div>
							<div class="import-form-fields">
								<button class="btn btn-color-black btn-style-default btn-size-small import-btn" data-layout="Home2" ><ly-as-13491108>Set up home lingerie</ly-as-13491108></button>
							</div>
						</div>
						<div class="claue-import">
							<div class="page-preview">
								<img src="//cdn.shopify.com/s/files/1/1933/6253/files/menu-cosmetics.jpg" alt="">
							</div>
							<div class="import-form-fields">
								<button class="btn btn-color-black btn-style-default btn-size-small import-btn" data-layout="Home3"><ly-as-13491109>Set up home cosmetics</ly-as-13491109></button>
							</div>
						</div>
						<div class="claue-import">
							<div class="page-preview">
								<img src="//cdn.shopify.com/s/files/1/1933/6253/files/prev-slider.jpg" alt="">
							</div>
							<div class="import-form-fields">
								<button class="btn btn-color-black btn-style-default btn-size-small import-btn" data-layout="Home4" ><ly-as-13491110>Set up home hero slider</ly-as-13491110></button>
							</div>
						</div>
						<div class="claue-import">
							<div class="page-preview">
								<img src="//cdn.shopify.com/s/files/1/1933/6253/files/menu-wine.jpg" alt="">
							</div>
							<div class="import-form-fields">
								<button class="btn btn-color-black btn-style-default btn-size-small import-btn" data-layout="Home5" ><ly-as-13491111>Set up home wine</ly-as-13491111></button>
							</div>
						</div>
						<div class="claue-import">
							<div class="page-preview">
								<img src="//cdn.shopify.com/s/files/1/1933/6253/files/menu-cars.jpg" alt="">
							</div>
							<div class="import-form-fields">
								<button class="btn btn-color-black btn-style-default btn-size-small import-btn" data-layout="Home6" ><ly-as-13491112>Set up home cars</ly-as-13491112></button>
							</div>
						</div>
						<div class="claue-import">
							<div class="page-preview">
								<img src="//cdn.shopify.com/s/files/1/1933/6253/files/prev-watch.jpg" alt="">
							</div>
							<div class="import-form-fields">
								<button class="btn btn-color-black btn-style-default btn-size-small import-btn" data-layout="Home7" ><ly-as-13491113>Set up home watches</ly-as-13491113></button>
							</div>
						</div>
						<div class="claue-import">
							<div class="page-preview">
								<img src="//cdn.shopify.com/s/files/1/1933/6253/files/jewellery-menu.jpg" alt="">
							</div>
							<div class="import-form-fields">
								<button class="btn btn-color-black btn-style-default btn-size-small import-btn" data-layout="Home8" ><ly-as-13491114>Set up home jewellery</ly-as-13491114></button>
							</div>
						</div>
						<div class="claue-import">
							<div class="page-preview">
								<img src="//cdn.shopify.com/s/files/1/1933/6253/files/prev-flovers.jpg" alt="">
							</div>
							<div class="import-form-fields">
								<button class="btn btn-color-black btn-style-default btn-size-small import-btn" data-layout="Home9" ><ly-as-13491115>Set up home flovers</ly-as-13491115></button>
							</div>
						</div>
						<div class="claue-import">
							<div class="page-preview">
								<img src="//cdn.shopify.com/s/files/1/1933/6253/files/menu-minimalist.jpg" alt="">
							</div>
							<div class="import-form-fields">
								<button class="btn btn-color-black btn-style-default btn-size-small import-btn" data-layout="Home10" ><ly-as-13491116>Set up home minimalist</ly-as-13491116></button>
							</div>
						</div>
						<div class="claue-import">
							<div class="page-preview">
								<img src="//cdn.shopify.com/s/files/1/1933/6253/files/preview.jpg" alt="">
							</div>
							<div class="import-form-fields">
								<button class="btn btn-color-black btn-style-default btn-size-small import-btn" data-layout="Home11" ><ly-as-13491117>Set up home parallax</ly-as-13491117></button>
							</div>
						</div>
                        <div class="claue-import">
							<div class="page-preview">
								<img src="//cdn.shopify.com/s/files/1/2285/2483/files/preview.jpg" alt="">
							</div>
							<div class="import-form-fields">
								<button class="btn btn-color-black btn-style-default btn-size-small import-btn" data-layout="Home12" ><ly-as-13491118>Set up home electronics</ly-as-13491118></button>
							</div>
						</div>
						<div class="claue-import">
							<div class="page-preview">
								<img src="//cdn.shopify.com/s/files/1/2285/2483/files/fashion-flat_c13c33e8-2856-4c53-9e3f-361a96113ace.jpg" alt="">
							</div>
							<div class="import-form-fields">
								<button class="btn btn-color-black btn-style-default btn-size-small import-btn" data-layout="Home13" ><ly-as-13491119>Set up home fashion flat</ly-as-13491119></button>
							</div>
						</div>
						<div class="claue-import">
							<div class="page-preview">
								<img src="//cdn.shopify.com/s/files/1/2285/2483/files/flat-full-width.jpg" alt="">
							</div>
							<div class="import-form-fields">
								<button class="btn btn-color-black btn-style-default btn-size-small import-btn" data-layout="Home14" ><ly-as-13491120>Set up home flat full-width</ly-as-13491120></button>
							</div>
						</div>
						<div class="claue-import">
							<div class="page-preview">
								<img src="//cdn.shopify.com/s/files/1/2285/2483/files/fashion.jpg" alt="">
							</div>
							<div class="import-form-fields">
								<button class="btn btn-color-black btn-style-default btn-size-small import-btn" data-layout="Home15" ><ly-as-13491121>Set up home fashion store</ly-as-13491121></button>
							</div>
						</div>
						<div class="claue-import">
							<div class="page-preview">
								<img src="//cdn.shopify.com/s/files/1/2285/2483/files/marketplace.jpg" alt="">
							</div>
							<div class="import-form-fields">
								<button class="btn btn-color-black btn-style-default btn-size-small import-btn" data-layout="Home16" ><ly-as-13491122>Set up home marketplace</ly-as-13491122></button>
							</div>
						</div>
						<div class="claue-import">
							<div class="page-preview">
								<img src="//cdn.shopify.com/s/files/1/2285/2483/files/furniture.jpg" alt="furniture">
							</div>
							<div class="import-form-fields">
								<button class="btn btn-color-black btn-style-default btn-size-small import-btn" data-layout="Home17" ><ly-as-13491123>Set up home Furniture demo</ly-as-13491123></button>
							</div>
						</div>
						<div class="claue-import">
							<div class="page-preview">
								<img src="//cdn.shopify.com/s/files/1/2285/2483/files/hand_pre.jpg?18445418250974416888" alt="furniture">
							</div>
							<div class="import-form-fields">
								<button class="btn btn-color-black btn-style-default btn-size-small import-btn" data-layout="Home18" ><ly-as-13491124>Set up home Handmade</ly-as-13491124></button>
							</div>
						</div>
						<div class="claue-import">
							<div class="page-preview">
								<img src="//cdn.shopify.com/s/files/1/2285/2483/files/sport_613de8de-62a9-447d-aa41-5fa9986e3071.jpg?15628635282339803368" alt="Sport">
							</div>
							<div class="import-form-fields">
								<button class="btn btn-color-black btn-style-default btn-size-small import-btn" data-layout="Home19" ><ly-as-13491125>Set up home Sport</ly-as-13491125></button>
							</div>
						</div>
						<div class="claue-import">
							<div class="page-preview">
								<img src="//cdn.shopify.com/s/files/1/2285/2483/files/bicycle_6bc9d0c6-67f4-411d-8af6-0e81261983a0.jpg?15628635282339803368" alt="Bicycle">
							</div>
							<div class="import-form-fields">
								<button class="btn btn-color-black btn-style-default btn-size-small import-btn" data-layout="Home20" ><ly-as-13491126>Set up home Bicycle</ly-as-13491126></button>
							</div>
						</div>
						<div class="claue-import">
							<div class="page-preview">
								<img src="//cdn.shopify.com/s/files/1/2285/2483/files/dark_6b019e0a-8429-4042-9a15-635b473e6871.jpg?15628635282339803368" alt="Dark">
							</div>
							<div class="import-form-fields">
								<button class="btn btn-color-black btn-style-default btn-size-small import-btn" data-layout="Home21" ><ly-as-13491127>Set up home Dark</ly-as-13491127></button>
							</div>
						</div>
						<div class="claue-import">
							<div class="page-preview">
								<img src="//cdn.shopify.com/s/files/1/2285/2483/files/pets_7f2c30c9-7295-4724-86f8-b1354610cd52.jpg?15628635282339803368" alt="Pets">
							</div>
							<div class="import-form-fields">
								<button class="btn btn-color-black btn-style-default btn-size-small import-btn" data-layout="Home22" ><ly-as-13491128>Set up home Pets</ly-as-13491128></button>
							</div>
						</div>
						<div class="claue-import">
							<div class="page-preview">
								<img src="https://cdn.shopify.com/s/files/1/2285/2483/files/preview_30d6cdf2-ae77-45d7-a43d-395bf5356bac.jpg?3009492093092975247" alt="Coffee">
							</div>
							<div class="import-form-fields">
								<button class="btn btn-color-black btn-style-default btn-size-small import-btn" data-layout="Home23" ><ly-as-13491129>Set up home Coffee</ly-as-13491129></button>
							</div>
						</div>
						<div class="claue-import">
							<div class="page-preview">
								<img src="//cdn.shopify.com/s/files/1/2285/2483/files/shoes_9b25b80d-c549-42b1-84f5-fdc84bfb3ba4.jpg?15628635282339803368" alt="Shoes">
							</div>
							<div class="import-form-fields">
								<button class="btn btn-color-black btn-style-default btn-size-small import-btn" data-layout="Home24" ><ly-as-13491130>Set up home Shoes</ly-as-13491130></button>
							</div>
						</div>
						<div class="claue-import">
							<div class="page-preview">
								<img src="//cdn.shopify.com/s/files/1/2285/2483/files/organic_ff8053d1-eb14-492a-9f3e-03f571bf5bc8.jpg?15628635282339803368" alt="Pets">
							</div>
							<div class="import-form-fields">
								<button class="btn btn-color-black btn-style-default btn-size-small import-btn" data-layout="Home25" ><ly-as-13491131>Set up home Organic</ly-as-13491131></button>
							</div>
						</div>
                        <div class="claue-import">
							<div class="page-preview">
								<img src="https://cdn.shopify.com/s/files/1/0016/0163/4357/files/sushi.jpg?12460760662598289568" alt="sushi">
							</div>
							<div class="import-form-fields">
								<button class="btn btn-color-black btn-style-default btn-size-small import-btn" data-layout="Home26" ><ly-as-13491132>Set up home Sushi</ly-as-13491132></button>
							</div>
						</div>
                        <div class="claue-import">
							<div class="page-preview">
								<img src="https://cdn.shopify.com/s/files/1/0016/0163/4357/files/fashion-new.jpg?12460760662598289568" alt="fashion-new">
							</div>
							<div class="import-form-fields">
								<button class="btn btn-color-black btn-style-default btn-size-small import-btn" data-layout="Home27" ><ly-as-13491133>Set up home Fashion New</ly-as-13491133></button>
							</div>
						</div>
                        <div class="claue-import">
							<div class="page-preview">
								<img src="https://cdn.shopify.com/s/files/1/0016/0163/4357/files/medical.jpg?12460760662598289568" alt="medical">
							</div>
							<div class="import-form-fields">
								<button class="btn btn-color-black btn-style-default btn-size-small import-btn" data-layout="Home28" ><ly-as-13491134>Set up home Medical</ly-as-13491134></button>
							</div>
						</div>
                        <div class="claue-import">
							<div class="page-preview">
								<img src="https://cdn.shopify.com/s/files/1/0016/0163/4357/files/preview-lighting.jpg?1144277542735653118" alt="Lighting">
							</div>
							<div class="import-form-fields">
								<button class="btn btn-color-black btn-style-default btn-size-small import-btn" data-layout="Home29" ><ly-as-13491135>Set up home Lighting</ly-as-13491135></button>
							</div>
						</div>
                         <div class="claue-import">
							<div class="page-preview">
								<img src="https://cdn.shopify.com/s/files/1/0016/0163/4357/files/preview_bakery.jpg?1144277542735653118" alt="Bakery">
							</div>
							<div class="import-form-fields">
								<button class="btn btn-color-black btn-style-default btn-size-small import-btn" data-layout="Home30" ><ly-as-13491136>Set up home Bakery</ly-as-13491136></button>
							</div>
						</div>
                         <div class="claue-import">
							<div class="page-preview">
								<img src="https://cdn.shopify.com/s/files/1/0016/0163/4357/files/preview_games.jpg?1144277542735653118" alt="Games">
							</div>
							<div class="import-form-fields">
								<button class="btn btn-color-black btn-style-default btn-size-small import-btn" data-layout="Home31" ><ly-as-13491137>Set up home Games</ly-as-13491137></button>
							</div>
						</div>
					</div>
           </div>
       </div>

       <div class="tab">
           <input type="radio" id="tab-2" name="tab-group-1" value="import">
           <label for="tab-2"><ly-as-13491138>Import</ly-as-13491138></label>

           <div class="content">
           <form action="">
               <textarea class="tea-form-control " id="tea-import-from-text" rows="10" placeholder="Paste the exported data here..."></textarea>
           		<div class="pt__30 tr"><button class="btn btn-secondary" id="tea-import-from-btn" type="submit"><ly-as-13491139>IMPORT AND SAVE</ly-as-13491139></button></div>
           	</form>
           </div>
       </div>

        <div class="tab">
           <input type="radio" id="tab-3" name="tab-group-1" value="export">
           <label for="tab-3"><ly-as-13491140>Export</ly-as-13491140></label>

           <div class="content">
           	<form action="">
               <textarea id="tea-form-export" class="tea-form-control" rows="10" placeholder="Paste the exported data here..."></textarea>
           	</form>
           </div>
       </div>

    </div>
</div>