{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}<h2 class="title-with-lines {{ classes }}">
  <span class="title-line title-line-left"></span>
  <span>{{ head_title }}</span>
  <span class="title-line title-line-right"></span>
</h2>