{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
{%- include "ct_slider_content" -%}

{% schema %}
  {
    "name": "Digital Signage Slider",
    "class": "section-custom-page-slider",
    "settings": [
      {
        "type": "select",
        "id": "slider_show",
        "label": "Show Slider",
        "default": "yes",
        "options": [
          {
            "value": "yes",
            "label": "Yes"
          },
          {
            "value": "no",
            "label": "No"
          }
        ]
      }
    ],
    "blocks": [
      {
        "type": "slider",
        "name": "Slider",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "range",
            "id": "bg_y_postion",
            "min": 0,
            "max":  100,
            "step": 1,
            "unit": "%",
            "label": "Background y postion",
            "default": 50
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Digital Signage"
          },
          {
            "type": "text",
            "id": "subtitle",
            "label": "Sub Title",
            "default": "Out-of-Home Advertising, Digital Media Networks, Interactive Displays, Kiosks, In-Store Displays, POS Solutions"
          },
          {
            "type": "text",
            "id": "content",
            "label": "Content",
            "default": "<p>Our digital signage products encompass a wide range of solutions, from award-winning full-service video wall mounts to interactive kiosks to outdoor displays. Whether your digital signage needs are for entertainment, advertising, or information sharing, we have creative, compelling solutions your audience wants to see. Our products are designed with superior aesthetics for a sleek and finished look that will transform your environment.</p>"
          },
          {
           "type": "html",
           "id": "html_area",
           "label": "Custom HTML"
          }
        ]
      }
    ],
    "presets": [
      {
        "category": "Custom Sections",
        "name": "Digital Signage Slider",
        "settings": {
          "slider_show": "yes"
        }
      }
    ]
  }
{% endschema %}