{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
{%- include "ct_slider_content" -%}

{% schema %}
  {
    "name": "Education Slider",
    "class": "section-custom-page-slider",
    "settings": [
      {
        "type": "select",
        "id": "slider_show",
        "label": "Show Slider",
        "default": "yes",
        "options": [
          {
            "value": "yes",
            "label": "Yes"
          },
          {
            "value": "no",
            "label": "No"
          }
        ]
      }
    ],
    "blocks": [
      {
        "type": "slider",
        "name": "Slider",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "range",
            "id": "bg_y_postion",
            "min": 0,
            "max":  100,
            "step": 1,
            "unit": "%",
            "label": "Background y postion",
            "default": 50
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Education"
          },
          {
            "type": "text",
            "id": "subtitle",
            "label": "Sub Title",
            "default": "K-12 Public and Private Schools, Colleges and Universities, Campus Communications, Auditoriums, Gymnasiums, Lunch Rooms"
          },
          {
            "type": "text",
            "id": "content",
            "label": "Content",
            "default": "<p>With products tailored to classrooms and lecture halls, our mounts, AV accessories, carts, stands, and digital signage solutions enhance the learning experience. We provide AV solutions for both K-12 public and private schools, and colleges and universities – for campus communications, auditoriums, gymnasiums, lunch rooms, libraries, and more.</p>"
          },
          {
           "type": "html",
           "id": "html_area",
           "label": "Custom HTML"
          }
        ]
      }
    ],
    "presets": [
      {
        "category": "Custom Sections",
        "name": "Education Slider",
        "settings": {
          "slider_show": "yes"
        }
      }
    ]
  }
{% endschema %}