{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
{%- include "ct_slider_content" -%}

{% schema %}
  {
    "name": "Government Slider",
    "class": "section-custom-page-slider",
    "settings": [
      {
        "type": "select",
        "id": "slider_show",
        "label": "Show Slider",
        "default": "yes",
        "options": [
          {
            "value": "yes",
            "label": "Yes"
          },
          {
            "value": "no",
            "label": "No"
          }
        ]
      }
    ],
    "blocks": [
      {
        "type": "slider",
        "name": "Slider",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "range",
            "id": "bg_y_postion",
            "min": 0,
            "max":  100,
            "step": 1,
            "unit": "%",
            "label": "Background y postion",
            "default": 50
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Government"
          },
          {
            "type": "text",
            "id": "subtitle",
            "label": "Sub Title",
            "default": "Voting Systems, Security, Courtrooms, Legislative Facilities, Conference Rooms"
          },
          {
            "type": "text",
            "id": "content",
            "label": "Custom HTML",
            "default": "<p>Peerless-AV® provides mounting solutions that fit all governmental facility’s needs - From conference rooms, legislative facilities and courtrooms to voting systems and security applications. Our large selection of Trade Agreement Act (TAA) compliant mounts and AV accessories are reliable and functional, backed by the strictest quality and safety standards along with end-to-end customer support.</p>"
          },
          {
           "type": "html",
           "id": "html_area",
           "label": "Custom HTML"
          }
        ]
      }
    ],
    "presets": [
      {
        "category": "Custom Sections",
        "name": "Government Slider",
        "settings": {
          "slider_show": "yes"
        }
      }
    ]
  }
{% endschema %}