{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
{%- include "ct_slider_content" -%}

{% schema %}
  {
    "name": "Healthcare Slider",
    "class": "section-custom-page-slider",
    "settings": [
      {
        "type": "select",
        "id": "slider_show",
        "label": "Show Slider",
        "default": "yes",
        "options": [
          {
            "value": "yes",
            "label": "Yes"
          },
          {
            "value": "no",
            "label": "No"
          }
        ]
      }
    ],
    "blocks": [
      {
        "type": "slider",
        "name": "Slider",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "range",
            "id": "bg_y_postion",
            "min": 0,
            "max":  100,
            "step": 1,
            "unit": "%",
            "label": "Background y postion",
            "default": 50
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Healthcare"
          },
          {
            "type": "text",
            "id": "subtitle",
            "label": "Sub Title",
            "default": "Hospitals, Clinics, Medical Facilities, Physicians Services Offices, Nursing Facilities, Long-Term Care Facilities"
          },
          {
            "type": "text",
            "id": "content",
            "label": "Custom HTML",
            "default": "<p>Since the 1960s, Peerless-AV® has been designing and manufacturing AV mounts and accessories for the healthcare industry. With products for hospitals, clinics, medical facilities, physician’s services offices, nursing facilities and long-term care facilities, Peerless-AV provides a wide range of AV solutions, supported by superior logistics, customer service and healthcare expertise.</p>"
          },
          {
           "type": "html",
           "id": "html_area",
           "label": "Custom HTML"
          }
        ]
      }
    ],
    "presets": [
      {
        "category": "Custom Sections",
        "name": "Healthcare Slider",
        "settings": {
          "slider_show": "yes"
        }
      }
    ]
  }
{% endschema %}