{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
{%- include "ct_slider_content" -%}

{% schema %}
  {
    "name": "HomeEnter Slider",
    "class": "section-custom-page-slider",
    "settings": [
      {
        "type": "select",
        "id": "slider_show",
        "label": "Show Slider",
        "default": "yes",
        "options": [
          {
            "value": "yes",
            "label": "Yes"
          },
          {
            "value": "no",
            "label": "No"
          }
        ]
      }
    ],
    "blocks": [
      {
        "type": "slider",
        "name": "Slider",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "range",
            "id": "bg_y_postion",
            "min": 0,
            "max":  100,
            "step": 1,
            "unit": "%",
            "label": "Background y postion",
            "default": 50
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Home Entertainment"
          },
          {
            "type": "text",
            "id": "subtitle",
            "label": "Sub Title",
            "default": "Residential, Living and Family Rooms, Home Theater, Bedrooms, Kitchens, Home Office, Outdoor Entertainment"
          },
          {
            "type": "text",
            "id": "content",
            "label": "Content",
            "default": "<p>Our AV solutions and expertise can create the modern, appealing home installation you’re dreaming of, and we don’t just mean mounts. From outdoor entertainment solutions to wireless audio systems to preconfigured racks and accessories, we have everything you need to transform your home’s entertainment options. We can help you find the best products for every room of the house - living and family rooms, home theaters, bedrooms, kitchens, home offices, and even outdoor spaces - to create safe, functional, and beautiful in-home solutions.</p>"
          },
          {
           "type": "html",
           "id": "html_area",
           "label": "Custom HTML"
          }
        ]
      }
    ],
    "presets": [
      {
        "category": "Custom Sections",
        "name": "HomeEnter Slider",
        "settings": {
          "slider_show": "yes"
        }
      }
    ]
  }
{% endschema %}