{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}{%- include "ct_slider_content" -%}

{% schema %}
  {
    "name": "Industrial Slider",
    "class": "section-custom-page-slider",
    "settings": [
      {
        "type": "select",
        "id": "slider_show",
        "label": "Show Slider",
        "default": "yes",
        "options": [
          {
            "value": "yes",
            "label": "Yes"
          },
          {
            "value": "no",
            "label": "No"
          }
        ]
      }
    ],
    "blocks": [
      {
        "type": "slider",
        "name": "Slider",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "range",
            "id": "bg_y_postion",
            "min": 0,
            "max":  100,
            "step": 1,
            "unit": "%",
            "label": "Background y postion",
            "default": 50
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Industrial"
          },
          {
            "type": "text",
            "id": "subtitle",
            "label": "Sub Title",
            "default": "Production Facilities, Manufacturing Work Lines, Warehouses, Storerooms, Workstations"
          },
          {
            "type": "richtext",
            "id": "content",
            "label": "Content",
            "default": "<p>Peerless-AV® offers a variety of AV solutions designed to fit your production and manufacturing facilities, warehouses, storerooms, and workstations needs—keeping screens out of the way and offering the durability to withstand the demands of an industrial environment. Our products are easy to use and assemble, and are tested to meet the highest safety standard.</p>"
          },
          {
           "type": "html",
           "id": "html_area",
           "label": "Custom HTML"
          }
        ]
      }
    ],
    "presets": [
      {
        "category": "Custom Sections",
        "name": "Industrial Slider",
        "settings": {
          "slider_show": "yes"
        }
      }
    ]
  }
{% endschema %}