{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}{%- include "ct_slider_content" -%}

{% schema %}
  {
    "name": "IT Computing Slider",
    "class": "section-custom-page-slider",
    "settings": [
      {
        "type": "select",
        "id": "slider_show",
        "label": "Show Slider",
        "default": "yes",
        "options": [
          {
            "value": "yes",
            "label": "Yes"
          },
          {
            "value": "no",
            "label": "No"
          }
        ]
      }
    ],
    "blocks": [
      {
        "type": "slider",
        "name": "Slider",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "range",
            "id": "bg_y_postion",
            "min": 0,
            "max":  100,
            "step": 1,
            "unit": "%",
            "label": "Background y postion",
            "default": 50
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "IT & Computing"
          },
          {
            "type": "text",
            "id": "subtitle",
            "label": "Sub Title",
            "default": "Server Farms, Wiring Closets, Network Monitoring, Control Rooms, Workstations"
          },
          {
            "type": "richtext",
            "id": "content",
            "label": "Content",
            "default": "<p>Peerless-AV® provides reliable, secure solutions that help you stay on top of your organization’s IT needs. We offer AV solutions for server farms, wiring closets, network monitoring, control rooms and workstations—products that work seamlessly with your existing hardware and enhance your department’s functionality.</p>"
          },
          {
           "type": "html",
           "id": "html_area",
           "label": "Custom HTML"
          }
        ]
      }
    ],
    "presets": [
      {
        "category": "Custom Sections",
        "name": "IT Computing Slider",
        "settings": {
          "slider_show": "yes"
        }
      }
    ]
  }
{% endschema %}