{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}<div class="led-mounting-awards">
  <div class="container">
    <div class="led-mounting-awards-inner">
      <div class="led-mountingAwards-awards-top">
        <h4 class="box-title">{{ section.settings.title }}</h4>
        <div class="content">{{section.settings.desc}}</div>
      </div>
      {%- if section.blocks.size > 0 -%}
        <ul class="led-mounting-awards-list">
          {%- for block in section.blocks -%}
            <li class="list-item">
              <div class="img-wrap">
                <img src="{{block.settings.image  | img_url: 'master' }}" alt="{{block.settings.image.alt}}" />
              </div>
            </li>
          {%- endfor -%}
        </ul>
      {%- endif -%}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Led Video Awards",
    "class": "section-led-mounting-awards",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Award-Winning Solutions"
      },
      {
       "type": "textarea",
       "id": "desc",
       "label": "Box Decsription",
       "placeholder": "Enter decsription"
      }
    ],
    "blocks": [
      {
        "type": "content",
        "name": "Awards image",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }
        ]
      }
    ],
    "presets": [
      {
        "category": "Custom Sections",
        "name": "Led Mounting Awards",
        "settings": {
        }
      }
    ]
  }
{% endschema %}