{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}{%- include "ct_slider_content" -%}

{% schema %}
  {
    "name": "Nightclub Slider",
    "class": "section-custom-page-slider",
    "settings": [
      {
        "type": "select",
        "id": "slider_show",
        "label": "Show Slider",
        "default": "yes",
        "options": [
          {
            "value": "yes",
            "label": "Yes"
          },
          {
            "value": "no",
            "label": "No"
          }
        ]
      }
    ],
    "blocks": [
      {
        "type": "slider",
        "name": "Slider",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "range",
            "id": "bg_y_postion",
            "min": 0,
            "max":  100,
            "step": 1,
            "unit": "%",
            "label": "Background y postion",
            "default": 50
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Nightclub & Bar"
          },
          {
            "type": "text",
            "id": "subtitle",
            "label": "Sub Title",
            "default": "Clubs, Bars, DJ and AV Entertainment Systems, Broadcast Distribution"
          },
          {
            "type": "richtext",
            "id": "content",
            "label": "Content",
            "default": "<p>Dazzle your patrons with AV solutions designed to complement a night on-the-town. Peerless-AV® offers a range of solutions crafted specifically for nightclubs and bars, including DJ and AV entertainment systems, broadcast distribution solutions, video wall mounts, interactive kiosks, digital displays, and more. Experts at Peerless-AV can also create a custom AV experience tailored to your establishment.</p>"
          },
          {
           "type": "html",
           "id": "html_area",
           "label": "Custom HTML"
          }
        ]
      }
    ],
    "presets": [
      {
        "category": "Custom Sections",
        "name": "Nightclub Slider",
        "settings": {
          "slider_show": "yes"
        }
      }
    ]
  }
{% endschema %}