{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}{%- include "ct_slider_content" -%}

{% schema %}
  {
    "name": "QSR Slider",
    "class": "section-custom-page-slider",
    "settings": [
      {
        "type": "select",
        "id": "slider_show",
        "label": "Show Slider",
        "default": "yes",
        "options": [
          {
            "value": "yes",
            "label": "Yes"
          },
          {
            "value": "no",
            "label": "No"
          }
        ]
      }
    ],
    "blocks": [
      {
        "type": "slider",
        "name": "Slider",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "range",
            "id": "bg_y_postion",
            "min": 0,
            "max":  100,
            "step": 1,
            "unit": "%",
            "label": "Background y postion",
            "default": 50
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "QSR & Restaurants"
          },
          {
            "type": "text",
            "id": "subtitle",
            "label": "Sub Title",
            "default": "Quick-Service, Fast-Casual Dining, Fast Food Chain Restaurants, Bar and Lounge"
          },
          {
            "type": "richtext",
            "id": "content",
            "label": "Content",
            "default": "<p>Our diverse line of audio visual solutions can engage your customers and employees in ways static signage can’t – offering ease of use and eye-catching text, animation and video for quick-serve, fast casual and fast food chain restaurants, as well as bars and lounges. We have all the AV solutions you need to upgrade your restaurant, such as POS and order Management technology, outdoor digital menu boards, and digital menu board wall/ceiling mounts. We also offer custom solutions to create an experience tailor-fit to your brand.</p>"
          },
          {
           "type": "html",
           "id": "html_area",
           "label": "Custom HTML"
          }
        ]
      }
    ],
    "presets": [
      {
        "category": "Custom Sections",
        "name": "QSR Slider",
        "settings": {
          "slider_show": "yes"
        }
      }
    ]
  }
{% endschema %}