{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}{%- include "ct_slider_content" -%}

{% schema %}
  {
    "name": "Retail Slider",
    "class": "section-custom-page-slider",
    "settings": [
      {
        "type": "select",
        "id": "slider_show",
        "label": "Show Slider",
        "default": "yes",
        "options": [
          {
            "value": "yes",
            "label": "Yes"
          },
          {
            "value": "no",
            "label": "No"
          }
        ]
      }
    ],
    "blocks": [
      {
        "type": "slider",
        "name": "Slider",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "range",
            "id": "bg_y_postion",
            "min": 0,
            "max":  100,
            "step": 1,
            "unit": "%",
            "label": "Background y postion",
            "default": 50
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Retail"
          },
          {
            "type": "text",
            "id": "subtitle",
            "label": "Sub Title",
            "default": "Malls, Department Stores, Boutique Stores, POS Solutions, Digital Signage, Interactive Displays, Kiosks"
          },
          {
            "type": "richtext",
            "id": "content",
            "label": "Content",
            "default": "<p>Let Peerless-AV® help you capture the shopper’s gaze with our complete range of solutions, including POS technology, digital signage, interactive displays, and kiosks. Whether you’re in a mall, a department store, or a boutique, our AV experts can help you plan the ideal integration and install the perfect mounts and accessories for your retail environment.</p>"
          },
          {
           "type": "html",
           "id": "html_area",
           "label": "Custom HTML"
          }
        ]
      }
    ],
    "presets": [
      {
        "category": "Custom Sections",
        "name": "Retail Slider",
        "settings": {
          "slider_show": "yes"
        }
      }
    ]
  }
{% endschema %}