{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}<div class="faq2-banner-wrapper">
	{% if section.settings.banner_background %}
	<img src="{{ section.settings.banner_background | img_url: '2500x' }}" alt="About Banner" />
	{% endif %}
	{% if section.settings.banner_title %}
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
	      <h2 class="faq2-title">{{ section.settings.banner_title }}</h2>
      </div>
    </div>
  </div>
	{% endif %}
</div>

{% schema %}
{
  "name": "FAQ Banner",
  "settings": [
  {
      "type": "header",
      "content": "Banner"
    },
    {
      "type": "image_picker",
      "id": "banner_background",
      "label": "Banner Background"
    },
    {
      "type": "text",
      "id": "banner_title",
      "label": "Banner Title"
    }
  ],
  "presets": [
    {
      "name": "FAQ Banner",
      "category": "Banner"
    }
  ]
}
{% endschema %}