{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
<div class="faq-container container">
  <div class="shop-loop-head">
    <nav class="shopify-breadcrumb faq-nav">
      <a href="/pages/faq">FAQs</a>
      <span class="breadcrumb-last"><ly-as-13487678>Professional</ly-as-13487678></span>
    </nav>
    <h2 class="text-center page-professional-faq header-faq">{% comment %}ly_code_replace_for_[page.title]_begin{% endcomment %}{% include 'ly-title' with page %}{{ly_translation}}{% comment %}ly_code_replace_end{% endcomment %}</h2>
  </div>
  {% for block in section.blocks %}
    <div class="faq-block" id="{{block.settings.title | replace: '®', '' | handleize }}">
      <div class="faq-title" id="professional-title">
        {{- block.settings.title -}}
      </div>
      <div class="faq-content">
        {{block.settings.content}}
      </div>
    </div>
  {% endfor%}
</div>

{% schema %}
{
  "name": "FAQ Professional",
  "blocks": [
    {
      "type": "faq_professional_block",
      "name": "Faq Professional Block",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type":"textarea",
          "id": "content",
          "label": "Block content"
        }
      ]
    }
  ]
}
{% endschema %}