{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}<div class="container">
  <div class="row">
    <div class="col-xs-12">
      {% include 'title-red-underline', head_title: 'It distribution' %}
    </div>
  </div>
  <div class="row it-distribution-items-row">
    {% for block in section.blocks %}
        <div class="col-xs-12 col-sm-2 it-distribution-item-col">
            {% include 'it-distribution-item' %}
        </div>
    {% endfor %}
  </div>
</div>


{% schema %}
{
  "name": "It Distribution",
  "blocks": [
    {
      "type": "contacts",
      "name": "Contacts",
      "settings": [
        {
          "id": "general_position",
          "type": "text",
          "label": "General Position"
        },
        {
          "id": "name",
          "type": "text",
          "label": "Name"
        },
        {
          "id": "position",
          "type": "text",
          "label": "Position"
        },
        {
          "id": "phone",
          "type": "text",
          "label": "Phone"
        },
        {
          "id": "c",
          "type": "text",
          "label": "C"
        },
        {
          "id": "email",
          "type": "text",
          "label": "Email"
        }
      ]
    }
  ]
}
{% endschema %}