@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('HelveticaNeueLTStd-XBlkCnO.woff2') format('woff2'),
        url('HelveticaNeueLTStd-XBlkCnO.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('HelveticaNeueLTStd-Md.woff2') format('woff2'),
        url('HelveticaNeueLTStd-Md.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('HelveticaNeueLTStd-HvCnO.woff2') format('woff2'),
        url('HelveticaNeueLTStd-HvCnO.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

/* @font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('HelveticaNeueLTStd-BdOu.woff2') format('woff2'),
        url('HelveticaNeueLTStd-BdOu.woff') format('woff');
    font-weight: bold;
    font-style: normal;
} */

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('HelveticaNeueLTStd-BlkIt.woff2') format('woff2'),
        url('HelveticaNeueLTStd-BlkIt.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('HelveticaNeueLTStd-Ex.woff2') format('woff2'),
        url('HelveticaNeueLTStd-Ex.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('HelveticaNeueLTStd-Hv.woff2') format('woff2'),
        url('HelveticaNeueLTStd-Hv.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('HelveticaNeueLTStd-BlkCn.woff2') format('woff2'),
        url('HelveticaNeueLTStd-BlkCn.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('HelveticaNeueLTStd-LtEx.woff2') format('woff2'),
        url('HelveticaNeueLTStd-LtEx.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('HelveticaNeueLTStd-ThCnO.woff2') format('woff2'),
        url('HelveticaNeueLTStd-ThCnO.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('HelveticaNeueLTStd-HvCn.woff2') format('woff2'),
        url('HelveticaNeueLTStd-HvCn.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('HelveticaNeueLTStd-BdCnO.woff2') format('woff2'),
        url('HelveticaNeueLTStd-BdCnO.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('HelveticaNeueLTStd-LtIt.woff2') format('woff2'),
        url('HelveticaNeueLTStd-LtIt.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('HelveticaNeueLTStd-It.woff2') format('woff2'),
        url('HelveticaNeueLTStd-It.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('HelveticaNeueLTStd-MdExO.woff2') format('woff2'),
        url('HelveticaNeueLTStd-MdExO.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('HelveticaNeueLTStd-LtExO.woff2') format('woff2'),
        url('HelveticaNeueLTStd-LtExO.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('HelveticaNeueLTStd-HvIt.woff2') format('woff2'),
        url('HelveticaNeueLTStd-HvIt.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('HelveticaNeueLTStd-ThEx.woff2') format('woff2'),
        url('HelveticaNeueLTStd-ThEx.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('HelveticaNeueLTStd-ThIt.woff2') format('woff2'),
        url('HelveticaNeueLTStd-ThIt.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('HelveticaNeueLTStd-UltLtCn.woff2') format('woff2'),
        url('HelveticaNeueLTStd-UltLtCn.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('HelveticaNeueLTStd-UltLtCnO.woff2') format('woff2'),
        url('HelveticaNeueLTStd-UltLtCnO.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('HelveticaNeueLTStd-BlkCnO.woff2') format('woff2'),
        url('HelveticaNeueLTStd-BlkCnO.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('HelveticaNeueLTStd-CnO.woff2') format('woff2'),
        url('HelveticaNeueLTStd-CnO.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('HelveticaNeueLTStd-UltLt.woff2') format('woff2'),
        url('HelveticaNeueLTStd-UltLt.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('HelveticaNeueLTStd-BdExO.woff2') format('woff2'),
        url('HelveticaNeueLTStd-BdExO.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('HelveticaNeueLTStd-MdCnO.woff2') format('woff2'),
        url('HelveticaNeueLTStd-MdCnO.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('HelveticaNeueLTStd-HvExO.woff2') format('woff2'),
        url('HelveticaNeueLTStd-HvExO.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('HelveticaNeueLTStd-BlkEx.woff2') format('woff2'),
        url('HelveticaNeueLTStd-BlkEx.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('HelveticaNeueLTStd-XBlkCn.woff2') format('woff2'),
        url('HelveticaNeueLTStd-XBlkCn.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('HelveticaNeueLTStd-Blk.woff2') format('woff2'),
        url('HelveticaNeueLTStd-Blk.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('HelveticaNeueLTStd-BdIt.woff2') format('woff2'),
        url('HelveticaNeueLTStd-BdIt.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('HelveticaNeueLTStd-UltLtIt.woff2') format('woff2'),
        url('HelveticaNeueLTStd-UltLtIt.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('HelveticaNeueLTStd-ExO.woff2') format('woff2'),
        url('HelveticaNeueLTStd-ExO.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('HelveticaNeueLTStd-ThExO.woff2') format('woff2'),
        url('HelveticaNeueLTStd-ThExO.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('HelveticaNeueLTStd-UltLtEx.woff2') format('woff2'),
        url('HelveticaNeueLTStd-UltLtEx.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('HelveticaNeueLTStd-Th.woff2') format('woff2'),
        url('HelveticaNeueLTStd-Th.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('HelveticaNeueLTStd-Cn.woff2') format('woff2'),
        url('HelveticaNeueLTStd-Cn.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('HelveticaNeueLTStd-LtCnO.woff2') format('woff2'),
        url('HelveticaNeueLTStd-LtCnO.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('HelveticaNeueLTStd-MdEx.woff2') format('woff2'),
        url('HelveticaNeueLTStd-MdEx.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('HelveticaNeueLTStd-ThCn.woff2') format('woff2'),
        url('HelveticaNeueLTStd-ThCn.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('HelveticaNeueLTStd-MdIt.woff2') format('woff2'),
        url('HelveticaNeueLTStd-MdIt.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('HelveticaNeueLTStd-UltLtExO.woff2') format('woff2'),
        url('HelveticaNeueLTStd-UltLtExO.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('HelveticaNeueLTStd-MdCn.woff2') format('woff2'),
        url('HelveticaNeueLTStd-MdCn.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

/* @font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('HelveticaNeueLTStd-Bd.woff2') format('woff2'),
        url('HelveticaNeueLTStd-Bd.woff') format('woff');
    font-weight: bold;
    font-style: normal;
} */

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('HelveticaNeueLTStd-LtCn.woff2') format('woff2'),
        url('HelveticaNeueLTStd-LtCn.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('HelveticaNeueLTStd-BdCn.woff2') format('woff2'),
        url('HelveticaNeueLTStd-BdCn.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('HelveticaNeueLTStd-BlkExO.woff2') format('woff2'),
        url('HelveticaNeueLTStd-BlkExO.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

/* @font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('HelveticaNeueLTStd-BdEx.woff2') format('woff2'),
        url('HelveticaNeueLTStd-BdEx.woff') format('woff');
    font-weight: bold;
    font-style: normal;
} */

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('HelveticaNeueLTStd-HvEx.woff2') format('woff2'),
        url('HelveticaNeueLTStd-HvEx.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('HelveticaNeueLTStd-Lt.woff2') format('woff2'),
        url('HelveticaNeueLTStd-Lt.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('HelveticaNeueLTStd-Roman.woff2') format('woff2'),
        url('HelveticaNeueLTStd-Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}





.banner {
	display: block;
	text-align: center;
	padding: 32px 0 24px;
    //background: #202123;
}
.field__caret {
	margin-top: 13px;
}
html.anyflexbox .content .wrap {
	flex-direction: row-reverse;
	max-width: 968px;
    width: 100%;
	padding: 0;
	.main {
		padding: 37px 70px 0 0;
		.main__header {
			padding-bottom: 33px;
			.breadcrumb {
				margin: 0;
				.breadcrumb__item {
					color: #191919;	
					font-family: "Helvetica Neue LT Std";	
					font-size: 11px;	
					line-height: 12px;
					letter-spacing: 0.3px;
					.breadcrumb__link {
						color: #346094;
						font-family: "Helvetica Neue LT Std";	
						font-size: 11px;	
						line-height: 12px;
						letter-spacing: 0.3px;
					}
					.breadcrumb__chevron-icon {
						color: #9B9B9B;
					}
				}
			}
		}
		.main__content {
			padding-bottom: 90px;
			.step__sections {
				.section--contact-information {
					.section__header {
						margin-bottom: 12px;
						.section__title  {
							color: #191919;	
							font-family: "Helvetica Neue LT Std";	
							font-size: 18px;	
							line-height: 28px;
						}
					}
					.section__content {
						.logged-in-customer-information__paragraph {
							color: #111111;	
							font-family: "Helvetica Neue LT Std";	
							font-size: 14px;	
							line-height: 16px;
							a {
								color: #346094;	
								font-family: "Helvetica Neue LT Std";	
								font-size: 14px;	
								line-height: 16px;
							}
						}
						.logged-in-customer-newsletter {
							margin-top: 18px;
							.checkbox__input {
								vertical-align: middle;
								padding-right: 6px;
								.input-checkbox {
								    border: 1.5px solid #000000;
									border-radius: 0;
									&:focus {
										outline: none;
										box-shadow: none;
									}
									&:checked{
										box-shadow: none;
										&:after {
											background: url(//cdn.shopify.com/s/files/1/0026/4083/8771/t/2/assets/checked.png?750002) no-repeat;
											background-size: cover;
											background-position: center;
										}
									}
								}
							}
							.checkbox__label {
								color: #191919;	
								font-family: "Helvetica Neue LT Std";	
								font-size: 14px;	
								line-height: 21px;
							}
						}
					}
				}
				.section--billing-address,
				.section--shipping-address {
					.section__header {
						margin-bottom: 8px;
						.section__title {
							color: #191919;	
							font-family: "Helvetica Neue LT Std";	
							font-size: 18px;	
							line-height: 28px;
						}
					}
					.section__content {
						.fieldset {
							margin: -7.5px;
							.field {
								padding: 7.5px;
								.field__label {
									position: relative;
									padding: 0;
    								margin: 0 0 6px 0;
    								color: #1A1919;	
    								font-family: "Helvetica Neue LT Std";
    								font-weight: 700;
    								font-size: 14px;	
    								letter-spacing: 0.3px;	
    								line-height: 16px;
    								text-transform: uppercase;
    								transform: none;
    								opacity: 1;
								    display: inline-block;
								    width: auto;
								    padding-right: 10px;
								}
								&.field--required {
									.field__label {
										&:after {
										    display: inline-block;
										    content: '*';
										    position: absolute;
										    color: #EE3423;
										    font-family: "Helvetica Neue LT Std";
										    font-size: 14px;
										    letter-spacing: 0.42px;
										    line-height: 16px;
										    text-align: right;
										    top: 0px;
										    right: 4px;
										}
									}
								}
								.field__input {
									color: #555559;	
									font-family: "Helvetica Neue LT Std";	
									font-size: 14px;	
									letter-spacing: 0.3px;	
									line-height: 21px;
									padding: 9px 15px 10px;
								    border: none;
								    background: #F3F3F3;
								    border-radius: 0;
								}
								.field__input-wrapper--select:before {
								    height: 40px;
								    bottom: 0;
								    top: auto;
								    background: #000;
								    width: 32px;
								    background: url(//cdn.shopify.com/s/files/1/0026/4083/8771/t/2/assets/select-carot.png?750002) no-repeat;
								    background-size: 11px 7px;
								    background-position: center;
								}
								&.custom-field p {
									color: #555559;	
									font-family: "Helvetica Neue LT Std";	
									font-size: 12px;	
									line-height: 21px;
								}
							}
						}
					}
				}
				.content-box {
					margin-top: 17px;
					border: 1px solid #C9C8C7;
					border-radius: 0;
					.content-box__row {
						padding: 0;
						.review-block {
							padding: 15px 30px 0 20px; 
							margin-top: 15px;
							&:first-child {
								margin-top: 0;
							}
							&:last-child {
								padding-bottom: 10px;
							}
							.review-block__label {
								color: #555559;	
								font-family: "Helvetica Neue LT Std";	
								font-size: 14px;	
								line-height: 16px;
							}
							.review-block__content {
								color: #111;	
								font-family: "Helvetica Neue LT Std";	
								font-size: 14px;	
								line-height: 16px;
							}
							.review-block__link a {
								color: #346094;	
								font-family: "Helvetica Neue LT Std";	
								font-size: 14px;	
								line-height: 16px;	
								text-align: right;
							}
						}
						&.radio-group__row {
							padding: 23px;
						}
					}
					.radio-wrapper {
					    padding: 11px 23px 10px;
					    .radio__input {
					    	padding-right: 5.5px;
					    	.input-radio {
				    		    box-shadow: none;
							    border: 1.2px solid #111111;
							    width: 14px;
							    height: 14px;
							    vertical-align: -2px;
							    &:after {
							    	width: 6px;
							    	height: 6px;
							    	margin-left: -3px;
							    	margin-top: -3px;
							    	background: #EE3423;
							    }
							    &:focus {
							    	outline: none;
							    }
					    	}
					    }
					    .radio__label__primary {
					    	color: #191919;	
					    	font-family: "Helvetica Neue LT Std";	
					    	font-size: 14px;	
					    	letter-spacing: 0.3px;	
					    	line-height: 21px;
					    }
					    .radio__label__accessory {
					    	color: #111;	
					    	font-family: "Helvetica Neue LT Std";	
					    	font-size: 14px;	
					    	line-height: 16px;	
					    	text-align: right;
					    }
					    &:last-child {
					    	border-bottom: none;
					    }
					    &.card-fields-container {
					    	padding: 23px;
					    	background: none;
					    	.field__input-wrapper {
					    		.field__input {
					    			background: #F3F3F3;
					    			border: none;
					    			border-radius: 0;
					    		}
					    	}
					    	#tooltip-for-verification_value {
				    		    border-radius: 0;
							    background: #000;
							    width: 135px;
							    color: #FFF;
							    font-family: "Helvetica Neue LT Std";
							    font-size: 10px;
							    font-weight: 500;
							    letter-spacing: 0.3px;
							    line-height: 12px;
							    text-align: center;
							    right: auto;
							    left: 50%;
							    transform: translate(-50%, 0);
					    	}
					    	.field__icon-svg {
					    		.icon-svg {
					    			color: #000;
					    		}
					    	}
					    }
					}
				}
				.section--shipping-method {
					.section__header {
						margin-bottom: 13px;
						.section__title {
							color: #191919;	
							font-family: "Helvetica Neue LT Std";	
							font-size: 18px;	
							line-height: 28px;
							.shipping-tooltip {
								cursor: pointer;
								display: inline-block;
								width: 15px;
								height: 25px;
								background: url(//cdn.shopify.com/s/files/1/0026/4083/8771/t/2/assets/tooltip.png?750002) no-repeat;
								background-size: 13px;
								background-position: center;
							    transform: translate(0, -2px);
							    vertical-align: middle;
							    position: relative;
							    .tooltip-content {
							    	display: none;
								    position: absolute;
								    width: 211px;
								    padding: 6px;
								    bottom: 100%;
								    background: #000;
								    color: #FFFFFF;
								    font-family: "Helvetica Neue LT Std";
								    font-size: 10px;
								    font-weight: 400;
								    letter-spacing: 0.3px;
								    line-height: 1.2;
								    text-align: center;
								    left: 50%;
						            bottom: calc(100% + 3px);
								    transform: translate(-50%, 0);
							    	&:after {
							    	    display: block;
									    content: '';
									    position: absolute;
									    bottom: 0;
									    width: 0;
									    height: 0;
									    border-left: 6px solid transparent;
									    border-right: 6px solid transparent;
									    border-top: 6px solid #000;
									    transform: translate(-50%, 0);
									    left: 50%;
									    bottom: -6px;
								    }
							    }
							    &:hover {
							    	.tooltip-content {
							    		display: block;
							    	}
							    }
								a {
									color: #fff;
									text-decoration: underline;
								}
							}
						}
					}
					.section__content {
						p {
						    color: #111111;
						    font-family: "Helvetica Neue LT Std";
						    font-size: 14px;
						    line-height: 16px;
						}
						.content-box {
							margin-top: 0;
						}
					}
				}
			}
			.step__footer {
				margin-top: 34px;
				.btn {
					color: #FFF;	
					font-family: "Helvetica Neue LT Std";
					font-weight: 700;
					font-size: 12px;	
					letter-spacing: 1px;	
					line-height: 21px;	
					text-align: center;
					padding: 11px 30px 10px;
				    background: #EE3423;
    				border-radius: 0;
					text-transform: uppercase;
					
					&[data-trekkie-id='complete_order_button'] {
						padding: 10px 55px 9px;
					}
				}
				.step__footer__previous-link {
					color: #111;	
					font-family: "Helvetica Neue LT Std";	
					font-size: 14px;	
					letter-spacing: 0.3px;	
					line-height: 16px;
					.previous-link__icon {
						color: #191919;
					}
					&:hover {
						.previous-link__icon {
							color: #191919;
							fill: #191919;
						}	
					}
				}
			}
		}
	}
	.sidebar {
		padding: 37px 43px 0 43px;
		background-color: #FAFAFA;
		overflow-y: auto;
		overflow-x: hidden;
	    .sidebar__content {
	    	.order-summary {
	    		.order-summary__sections {
	    			.order-summary__section--product-list {
	    				flex: none;
	    				.product-table {
    					    margin: 8px 0 18px 0;
				    		.product-thumbnail {
				    			background: transparent;
				    			width: 48px;
				    			height: 48px;
				    			&:after {
			    					border: none;
			    				}
			    				.product-thumbnail__quantity {
			    					background: #EE3423;
			    					color: #FFFFFF;	
			    					font-family: "Helvetica Neue LT Std";	
			    					font-size: 9px;	
		    					    line-height: 16px;
								    text-align: center;
								    min-width: 16px;
								    height: 16px;
			    				}
				    		}
				    		.product__description {
				    			.product__description__name {
				    				color: #111111;	
				    				font-family: "Helvetica Neue LT Std";	
				    				font-size: 14px;	
				    				font-weight: 500;	
				    				line-height: 17px;
				    				margin-bottom: 6px;
				    			}
				    			.product__description__variant {
				    				color: #9B9B9B;	
				    				font-family: "Helvetica Neue LT Std";	
				    				font-size: 12px;	
				    				line-height: 14px;
				    			}
				    		}
				    		.product__price {
				    			color: #111111;	
				    			font-family: "Helvetica Neue LT Std";	
				    			font-size: 14px;	
				    			font-weight: 500;	
				    			line-height: 17px;	
				    			text-align: right;
				    		}
	    				}
	    			}
	    			.order-summary__section--discount {
	    				padding: 20px 0;
	    				display: none;
	    				.field__label {
	    					position: relative;
							padding: 0;
							margin: 0 0 6px 0;
							color: #1A1919;	
							font-family: "Helvetica Neue LT Std";
							font-weight: 700;
							font-size: 14px;	
							letter-spacing: 0.3px;	
							line-height: 16px;
							text-transform: uppercase;
							transform: none;
							opacity: 1;
						    display: inline-block;
						    width: auto;
						    padding-right: 10px;
	    				}
	    				.field__input {
	    					border-radius: 0;
    					    height: 40px;
						    line-height: 18px;
						    padding: 11px 10px;
					        font-family: "Helvetica Neue LT Std";
	    				}
	    				.field__input-btn {
    					    height: 40px;
    						border-radius: 0;
						    font-family: "Helvetica Neue LT Std";
							font-weight: 700;
						    font-size: 12px;
						    letter-spacing: 1px;
						    line-height: 40px;
						    text-align: center;
						    background: #EE3423;
						    text-transform: uppercase;
						    color: #fff;
						    transform: translate(0, 25px);
	    				}
	    			}
	    			.order-summary__section--total-lines {
	    				padding-top: 20px;
	    				border-top: 1px solid #C9C8C7;
	    				.total-line__name {
	    					color: #111111;
						    font-family: "Helvetica Neue LT Std";
						    font-size: 16px;
						    line-height: 19px;
	    				}
	    				.total-line__price {
	    					.payment-due__currency {
	    						display: none;
	    					}
	    					.payment-due__price {
    						    color: #111111;
							    font-family: "Helvetica Neue LT Std";
							    font-size: 24px;
							    font-weight: 500;
							    line-height: 24px;
	    					}
	    				}
	    				.total-line-table__tbody {
	    					.total-line__name {
							    font-size: 14px;
							    line-height: 16px;
		    				}
		    				.total-line__price {
		    					.payment-due__price {
								    font-size: 14px;
								    line-height: 17px;
		    					}
		    				}
	    				}
	    				.total-line-table__footer {
	    					.total-line th,
	    					.total-line td {
	    						padding-top: 40px;
	    						&:before {
	    							top: 23px;
	    							background: #C9C8C7;
	    						}
	    					}
	    				}
	    			}
	    		}
	    	}
	    }
	}
}


#usa-reg-popup {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(74, 74, 74, 0.7);
  top: 0;
  left: 0;
  z-index: 3001;
  .usa-reg-wrapper {
    position: relative;
    // height: 208px;
    width: 550px;
    border: 1px solid #f8f8f8;
    background-color: #ffffff;
    box-shadow: 0 6px 8px 0 rgba(255, 255, 255, 0.09), 0 6px 6px 0 rgba(153, 153, 153, 0.09),
      0 3px 6px 0 rgba(153, 153, 153, 0.09);
    padding: 30px;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    .title {
      color: #111111;
      font-family: "Helvetica Neue LT Std";
      font-size: 20px;
      font-weight: 500;
      line-height: 30px;
      margin-bottom: 16px;
    }
    p {
      color: #1a1919;
      font-family: "Helvetica Neue LT Std";
      font-size: 14px;
      line-height: 21px;
      margin-bottom: 30px;
    }
    .btn-confirm {
      height: 42px;
      width: 161px;
      border: 1px solid rgba(255, 255, 255, 0);
      color: #fff;
      font-family: "Helvetica Neue LT Std";
      font-weight: 700;
      font-size: 12px;
      letter-spacing: 1px;
      line-height: 19px;
      padding: 11px 0 10px;
			background: #000;
			border-radius: 0;
    }
    .btn-close {
      position: absolute;
      top: 12px;
      right: 12px;
      border: none;
      width: 16px;
      height: 16px;
      color: transparent;
      text-indent: 30000px;
      overflow: hidden;
      background: url("//cdn.shopify.com/s/files/1/0026/4083/8771/t/2/assets/close.png?8003775344205963584") no-repeat;
      background-size: cover;
      padding: 0;
    }
  }
}

html.anyflexbox .content .wrap .main .main__content .step__footer .btn:disabled {
	background: #e1e1e1;
	color: #919191;
}

.main__footer {
	.policy-list {
		a {
			color: #346094;
			font-family: "Helvetica Neue LT Std";
			font-size: 12px;
			letter-spacing: 0.26px;
		}
		.policy-list__item {
			margin-right: 47px;
		}
	}
}

@media ( min-width: 1000px ) {
	.page--banner .banner {
	    padding-top: 32px;
	    padding-bottom: 24px;
	}
	.logo__image--medium {
	    max-height: 50px;
	}
}


@media (max-width: 1000px) {
	html.anyflexbox {
		.content {
			.wrap {
				display: block;
			    padding: 0 1em;
				.main {
					padding: 0;
				}
			}
		}
	}
}
@media (max-width: 767px) {
	.main__footer {
		.policy-list {
			.policy-list__item {
				margin-right: 1em;
			}
		}
	}
}

.step__footer__info{
	display: none;
}

#checkout_shipping_address_province {
	[value="AS"],
	[value="DC"],
	[value="FM"],
	[value="GU"],
	[value="MH"],
	[value="MP"],
	[value="PW"],
	[value="VI"],
	[value="AA"],
	[value="AE"],
	[value="AP"] {
		display: none;
	}
}

label[for="checkout_shipping_rate_id_shopify-dealer20freight20program-100000_00"] .content-box__small-text,
label[for="checkout_shipping_rate_id_shopify-dealer20freight20program-100000_00"] .content-box__small-text + br {
	display: none;
}

div[data-step="shipping_method"] .step__sections .review-block:nth-child(3) .review-block__content .emphasis,
div[data-step="payment_method"] .step__sections .review-block:nth-child(3) .review-block__content .emphasis {
	display: none;
}