{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}<div class="main-page-wrapper page-career">
   	<!-- MAIN CONTENT AREA -->
   	<div class="container">
   		<div class="row">
   			<div class="col-xs-12">
   				{% section 'top_info_career_one' %}
   			</div>
   		</div>
   	</div>
   	<div class="page_content">
   		<div class="container">
   			<div class="row">
   				<div class="col-sm-6 col-sm-offset-3 col-xs-12 col-xs-offset-0">
   					{% comment %}ly_code_replace_for_[ page.content ]_begin{% endcomment %}{% include 'ly-content' with page %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}
   				</div>
   			</div>
   			<div class="row">
   				<div class="col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0">
   					{% section "bottom_info_career_one" %}
   				</div>
   			</div>
   			<div class="row">
   				<div class="col-sm-10 col-sm-offset-1 col-xs-12 col-xs-offset-0">
   					<hr class="split-line" />
   				</div>
   			</div>
   			<div class="row">
   				<div class="col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0">
   					{% section "bottom_info_career_contact" %}
   				</div>
   			</div>
   		</div>
   	</div>
</div>
