{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
<div class="outdoor-enter-wrapper">
  {% section 'ct_xtreme_high_bright_top_banner' %}
  {% section 'ct_xtreme_high_bright_desc' %}
  {% section 'ct_xtreme_high_bright_capabilities' %}
  {% section 'ct_xtreme_high_popular_applications' %}
  {% section 'ct_xtreme_high_clients' %}
  {% section 'ct_xtreme_high_awards' %}
  {% section 'ct_xtreme_high_transform' %}
  {% section 'ct_xtreme_high_accessories' %}
  {% section 'ct_xtreme_high_displays' %}
  {% section 'ct_xtreme_high_cap_video' %}
  {% section 'ct_xtreme_high_prod_video' %}
  {% section 'ct_xtreme_high_contacts' %}
</div>
<script type="text/javascript">
  $(document).ready(function(){
    $('.main-header').addClass('kiosk-header');
    $('.header-wrap').addClass('kiosk-header');
  });
</script>