{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
<div class="main-page-wrapper care-contact">
	<!-- MAIN CONTENT AREA -->
	<div class="map-area">
		{% section "contact-map" %}
	</div>
	<div class="main-area">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-5">
					<div class="contact-forms">
						{% section "contact-description" %}
					</div>
				</div>
				<div class="col-xs-12 col-sm-7 col-md-6 col-md-offset-1 col-sm-offset-0 col-xs-offset-0">
					<div class="contact-information">
						{% section "contact-information" %}
					</div>
					<div class="sales-contact">
						{% section "contact-sales" %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div><!-- .main-page-wrapper -->