{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
<div class="custom-page-wrapper">
	{% section 'ct_rental_slider' %}
	{% section 'ct_rental_article' %}
	{% section 'ct_rental_products1' %}
</div>
<script type="text/javascript">
  $(document).ready(function(){
    $('.main-header').addClass('kiosk-header');
    $('.header-wrap').addClass('kiosk-header');
  });
  $(document).ready(function(){
    $('a.18509240008819').attr('href', '/pages/led-mounting-systems');
    $('.product .product-element-top a[data-pid = 18509240008819]').attr('href', '/pages/led-mounting-systems');

    $('a.18509366329459').attr('href', '/pages/led-mounting-systems');
    $('.product .product-element-top a[data-pid = 18509366329459]').attr('href', '/pages/led-mounting-systems');

    $('a.18418758811763').attr('href', '/pages/xtreme™-high-bright-outdoor-displays');
    $('.product .product-element-top a[data-pid = 18418758811763]').attr('href', '/pages/xtreme™-high-bright-outdoor-displays');

    $('a.18418743574643').attr('href', 'https://ultraview.peerless-av.com/');
    $('.product .product-element-top a[data-pid = 18418743574643]').attr('href', 'https://ultraview.peerless-av.com/');
  });
</script>