{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
<div class="main-page-wrapper white-paper">      	
	<div class="container">
		<h1 class="main-title">{% comment %}ly_code_replace_for_[page.title]_begin{% endcomment %}{% include 'ly-title' with page %}{{ly_translation}}{% comment %}ly_code_replace_end{% endcomment %}</h1>
		<div class="page-container">
          <div class="row">
				{% section 'white-papaer' %}
			</div>
		</div>
	</div>
</div>
