{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
<div class="led-mounting-systems-wrapper">
	{% section 'ct_led_mounting_top_banner' %}
	{% section 'ct_led_mounting_desc' %}
	{% section 'ct_led_mounting_integration' %}
	{% section 'ct_led_video_configurator' %}
	{% section 'ct_led_mounting_partners' %}
	{% section 'ct_led_mounting_video' %}
	{% section 'ct_led_mounting_smartmount' %}
	{% section 'ct_led_mounting_solutions' %}
	{% section 'ct_led_mounting_awards' %}
	{% section 'ct_led_mounting_contact' %}
</div>
<script type="text/javascript">
  $(document).ready(function(){
    $('.main-header').addClass('kiosk-header');
    $('.header-wrap').addClass('kiosk-header');
  });
</script>