{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
<div class="custom-page-wrapper">
	{% section 'ct_custom_solutions_slider' %}
	{% section 'ct_custom_solutions_text_image' %}
	{% section 'ct_custom_solutions_about' %}
	{% section 'ct_custom_solutions_steps' %}
	{% section 'ct_custom_solutions_capabilities' %}
	{% section 'ct_custom_solutions_form' %}
</div>
<script type="text/javascript">
  $(document).ready(function(){
    $('.main-header').addClass('kiosk-header');
    $('.header-wrap').addClass('kiosk-header');
  });
</script>