{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}<div class="main-page-wrapper page-careers-opening">
   	<!-- MAIN CONTENT AREA -->
   	<div class="container">
      	<div class="row">
      		<div class="col-xs-12"><h1 class="title"><ly-as-13491761>Peerless-AV</ly-as-13491761><span class="symbol">®</span> <ly-as-13491762>Careers</ly-as-13491762></h1></div>
      	</div>
      	<div class="row">
      		<div class="col-sm-10 col-sm-offset-1 col-xs-12 col-xs-offset-0">
	      		{% section 'careers_opening' %}
	      	</div>
      	</div>
  	</div>
</div>
<style>
  body .main-page-wrapper.page-careers-opening .title .symbol {
    font-size: 18px;
    vertical-align: top;
    transform: translate(0, -6px);
    display: inline-block;  
  }
</style>