{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
<div class="main-page-wrapper catalog-brochure">      	
	<div class="container">
        <div class="brochure-wrapper">{% section 'brochure' %}</div>
		<div class="catalog-wrapper">{% section 'catalog' %}</div>		
	</div>
</div>