{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
<div class="container page-iconography-container">

  <div class="page-iconography-heading clearfix">
    <nav class="shopify-breadcrumb pull-left">
      <a href="/pages/faq"><ly-as-13491830>FAQ</ly-as-13491830></a>
      <span class="breadcrumb-last">{% comment %}ly_code_replace_for_[ page.title ]_begin{% endcomment %}{% include 'ly-title' with page %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</span>
    </nav>
    <h2 class="text-center page-iconography-title">{% comment %}ly_code_replace_for_[ page.title ]_begin{% endcomment %}{% include 'ly-title' with page %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</h2>
  </div>
  {% section 'iconography_template' %}
</div>