{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}<div class="main-page-wrapper certified-trainning sales-training">
   	{% section 'sales_training' %}
</div>