{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
<div class="error-page">
   <div id="error-popup">
     <div class="error-popup-wrapper">
       <img src="https://cdn.shopify.com/s/files/1/0026/4083/8771/files/lock.jpg?1287454477514273718" alt="">
       <h3 class="title"><ly-as-13491811>Unauthorized Access</ly-as-13491811></h3>
       <p><ly-as-13491812>Access is denied due to invalid credentials. You do not have permission to view this directory or page using the credentials that you supplied.</ly-as-13491812></p>
       <a href="/" class="btn btn-confirm"><ly-as-13491813>Return home</ly-as-13491813></a>
     </div>
   </div>
</div>
